{% extends 'base.html' %}
{%block title%}Cписок опросников{%endblock%}
{% block content %}
<h1> Список опросников:</h1>
<div class="row">
    <div class="col-md-8 mx-auto">
        <table class="table table-striped">
            {%for object in palls%}
            <tr>
                <td>
                    <p> {{object.title}}</p>
                </td>
                   <td>
                    <p> {{object.description}}</p>
                </td>

            </tr>

            {%endfor%}
        </table>

    </div>
</div>




{%endblock%}